# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
.venv/
venv/
ENV/
env/
*.egg-info/
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Camera captures
capture.jpg

# Ultralytics/YOLO cache
~/.cache/ultralytics/
ultralytics/

# Test output
*.log

# Unit test cache
.pytest_cache/